name: 压缩文件

on:
  workflow_dispatch:
env:
  TZ: Asia/Shanghai
permissions:
  contents: write
  pull-requests: write
  actions: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 安装 UPX
        uses: crazy-max/ghaction-upx@v3
        with:
          version: v4.2.4
          install-only: true
          
      - name: 下载并压缩
        run: |
          mkdir -p /opt/st
          cd /opt/st
          sudo chmod 0777 /etc/resolv.conf
          cat >>/etc/resolv.conf <<EOF
          nameserver 8.8.8.8 
          nameserver 4.4.4.4
          EOF
          # 下载UPX二进制文件
          #echo "正在下载UPX..."
          #curl -k -f -L -o "/opt/st/upx" "https://raw.githubusercontent.com/tyrian9905/alist/refs/heads/main/upx424"
          
          # 给UPX执行权限
          #chmod +x /opt/st/upx
          
          curl -k -f -L -o "/opt/st/AdGuardHome.tar.gz" "https://raw.githubusercontent.com/tyrian9905/alist/refs/heads/main/AdGuardHome.tar.gz" 

          tar -xzvf /opt/st/AdGuardHome.tar.gz -C /opt/st
          rm -f "/opt/st/*.tar.gz"
          upx --lzma --best AdGuardHome
          #mv openlist alist

      - name: 开始推送
        run: |
          # 配置Git
          git config --global user.name "Auto Sync"
          git config --global user.email "auto@sync.com"
          USER="tyrian9905"
          REPO="alist"
          
          # 获取北京时间
          export TZ='Asia/Shanghai'
          BEIJING_TIME=$(date '+%Y-%m-%d %H:%M:%S')
          
          # 克隆仓库
          git clone https://oauth2:${{ secrets.GITHUB_TOKEN }}@github.com/${USER}/${REPO}.git
          
          # 进入仓库并更新文件
          cd ${REPO}
          
          # 确保目录存在
          mkdir -p compress
          
          # 复制压缩后的文件
          cp /opt/st/AdGuardHome ./compress/ 2>/dev/null || true
          
          # 添加文件
          git add compress/
          
          # 检查是否有变更
          if ! git diff --cached --quiet; then
            git commit -m "自动同步文件 ${BEIJING_TIME}"
            git push origin main
            echo "✅ 文件已同步！"
          else
            echo "⚠️ 没有文件变更，跳过提交"
          fi
