name: 压缩文件

on:
  workflow_dispatch:
env:
  TZ: Asia/Shanghai
permissions:
  contents: write
  pull-requests: write
  actions: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 下载并压缩
        run: |
          mkdir -p /opt/st
          cd /opt/st
          sudo chmod 0777 /etc/resolv.conf
          cat >>/etc/resolv.conf <<EOF
          nameserver 8.8.8.8 
          nameserver 4.4.4.4
          EOF
          # 下载UPX二进制文件
          echo "正在下载UPX..."
          curl -k -f -L -o "/opt/st/upx" "https://raw.githubusercontent.com/tyrian9905/alist/refs/heads/main/upx424"
          # 给UPX执行权限
          chmod +x /opt/st/upx
          curl -k -f -L -o "/opt/st/alist" "https://release-assets.githubusercontent.com/github-production-release-asset/106867604/955e9d1b-ac5e-4188-8867-e5f53958a8fe?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-20T03%3A09%3A35Z&rscd=attachment%3B+filename%3Dcloudflared-linux-amd64&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-20T02%3A09%3A22Z&ske=2026-01-20T03%3A09%3A35Z&sks=b&skv=2018-11-09&sig=JLOpXds6jbEzudZLyhegXuYwQ7LIM201kBZhRsdVDww%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODg3ODE0MywibmJmIjoxNzY4ODc2MzQzLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.8GiFKeqEG1x1GYRCNYKow8LAEP6CKv76ZXSsyALdUXk&response-content-disposition=attachment%3B%20filename%3Dcloudflared-linux-amd64&response-content-type=application%2Foctet-stream" 
          #tar -xzvf /opt/st/alist.tar.gz -C /opt/st
          #rm -f "/opt/st/*.tar.gz"
          upx --lzma --best alist
          #mv openlist alist

      - name: 开始推送
        run: |
          # 配置Git
          git config --global user.name "Auto Sync"
          git config --global user.email "auto@sync.com"
          USER="tyrian9905"
          REPO="alist"
          
          # 获取北京时间
          export TZ='Asia/Shanghai'
          BEIJING_TIME=$(date '+%Y-%m-%d %H:%M:%S')
          
          # 克隆仓库
          git clone https://oauth2:${{ secrets.GITHUB_TOKEN }}@github.com/${USER}/${REPO}.git
          
          # 进入仓库并更新文件
          cd ${REPO}
          
          # 确保目录存在
          mkdir -p compress
          
          # 复制压缩后的文件
          cp /opt/st/alist ./compress/ 2>/dev/null || true
          
          # 添加文件
          git add compress/
          
          # 检查是否有变更
          if ! git diff --cached --quiet; then
            git commit -m "自动同步文件 ${BEIJING_TIME}"
            git push origin main
            echo "✅ 文件已同步！"
          else
            echo "⚠️ 没有文件变更，跳过提交"
          fi
